/*
#004c8c h1

#056bb3 body color

#2682c4 shadow-box

#74bbe4 border

#f1f2f6 body background-color
*/
body{
	background-color: #f1f2f6;
	color: #000;

	font-size: 1.3em;

	margin: 0px;
}
.container{
	max-width: 1200px;
	margin: auto;
}
.fullWidth{
	width: 100%;
}
h1, h2, h3{
	text-align: center;
	color: #004c8c;
}
h1{
	font-size: 3em;
}
h2{
	font-size: 2em;
}
h3{
	font-size: 1.5em;
}
a{
	text-decoration: none;
	color: #056bb3;
}
strong{
	font-weight: normal;
}
i{
	color: #056bb3;

	margin: 0 5px;
}

/* ------------------------ FORM ------------------------ */
form{
	text-align: center;
}
input[type="text"]{
	padding: 5px;

	border-radius: 5px;
	border: solid 2px #74bbe4;
}
input[type="text"]:focus{
	outline: none;
	border: solid 2px #004c8c;
}
input[type="password"]{
	padding: 5px;

	border-radius: 5px;
	border: solid 2px #74bbe4;
}
input[type="password"]:focus{
	outline: none;
	border: solid 2px #004c8c;
}
textarea{
	width: 70%;
	height: 100px;

	padding: 5px;

	border: solid 2px #74bbe4;
	border-radius: 10px;

	resize: none;
}
textarea:focus{
	outline: none;
	border: solid 2px #004c8c;
}
input[type="submit"]{
	padding: 5px;

	background-color: white;
	color: #004c8c;

	font-weight: bolder;

	border: solid 2px #74bbe4;
	border-radius: 10px;

	cursor: pointer;
}

/* ------------------------ TABLE ------------------------ */
table{
	border-collapse: collapse;
	border:double 5px #74bbe4;
	background-color: white;
}
th, td{
	border: solid 1.5px #74bbe4;
	padding: 15px;
}
th{
	background-color: #004c8c;
	color: white;
}
tr:nth-child(2n + 1){
	background-color: #f1f2f6;
}
th:nth-child(1){
	width: 70%;
}
th:nth-child(2), th:nth-child(3), th:nth-child(4){
	width: 10%;
}
td:nth-child(2), td:nth-child(3), td:nth-child(4){
	text-align: center;
}
/* ------------------------ ERROR ------------------------ */
#msg{
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 100px;
}
#msg span{
	font-size: 1.5em;
}

/* ------------------------ BLOC INFO ------------------------ */
.info{
	text-align: right;
	margin: 30px;
}
.infoComment{
	text-align: center;
	margin: 20px;
}
.infoError{
	text-align: center;
	margin: 20px;
	color: red;
}

/* ------------------------ NAVBAR ------------------------ */
#navbar{
	background-color: white;
	border-bottom: solid 2px #74bbe4;
	height: 100px;
}
#navbar > div{
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 100%;

	color: #056bb3;
}
#navbar > div > span:nth-child(1){
	font-size: 1.5em;
}
#navbar ul{
	list-style: none;

	display: flex;
	justify-content: space-around;
	align-items: center;
}
#navbar li{
	margin: 0 15px;
	font-weight: bold;
	font-size: 1.2em;
}
#navbar i{
	font-size: 1.2em;
}

/* ------------------------ HERO ------------------------ */
#heroImg{
	background-image: url("../images/alaska.png");
	background-attachment: fixed;
	background-size: cover;

	height: 400px;
}
#citation{
	display: flex;
	justify-content: center;
	align-items: center;

	margin: 30px 0;
	padding: 10px;
}
#hero cite{
	text-align: center;
	font-size: 1.5em;
}

/* ------------------------ ARTICLES ------------------------ */
#articles{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
#articles img{
	width: 100%;
}
.article{
	width: 90%;

	background-color: white;
	border:double 5px #74bbe4;
	border-radius: 10px;

	margin: 25px 0;
	padding: 0 10px;
	box-shadow: #2682c4 5px 5px 5px;
}
.articleContent{
	background-color: #f1f2f6;

	border: solid 1.5px #74bbe4;
	border-radius: 10px;

	padding: 10px;
}
.articleAuthor, .articleDatePublication, .articleDateEdit{
	font-style: italic;
}
.linkComment{
	text-align: right;
}

/* ------------------------ COMMENTS ------------------------ */
#comments{
	display: flex;
	flex-direction: column;
}
#comments > div:nth-of-type(2n+2){
	align-self: flex-end;
}
.comment{
	width: 80%;
	
	background-color: white;
	border:double 5px #74bbe4;
	border-radius: 10px;

	margin: 25px 0;
	padding: 0 10px;
	box-shadow: #2682c4 5px 5px 5px;

	align-content: right;
}
.commentAuthor{
	font-weight: bold;
}
.commentContent{
	background-color: #f1f2f6;

	border: solid 1.5px #74bbe4;
	border-radius: 10px;

	padding: 10px;
}
.commentDatePublication, .commentEdit{
	font-style: italic;
	text-align: right;
}

/* --------------------------------------------------------------- ADMIN ---------------------------------------------------- */

/* ------------------------ HOME ------------------------ */
#accueilAdmin{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#accueilAdmin > a{
	width: 25%;
	height: 200px;

	background-color: white;

	border: solid 1.5px #74bbe4;
	border-radius: 10px;
	box-shadow: #2682c4 5px 5px 5px;

	padding: 10px;
}
#accueilAdmin div{
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#accueilAdmin h3{
	margin-top: 0;
}
#accueilAdmin i{
	font-size: 3em;
}

/* ------------------------ ADD ARTICLE ------------------------ */
#formAddEditArticle form{
	text-align: left;
}
#formAddEditArticle input[type='text']{
	width: 50%;
}
#formAddEditArticle input[type='submit']{
	font-size: 1.2em;
}
#formAddEditArticle form > p:last-child{/*input submit*/
	text-align: right;
}
#formAddEditArticle textarea{
	height: 500px;
}
#formAddEditArticle #content{
	display: none;
}

/* ------------------------ EDIT ARTICLE / COMMENT / REPORT ------------------------ */
#editArticles, #moderateComments, #moderateReport{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-bottom: 150px;
}

#moderateReport{
	flex-direction: column;
}

/* ------------------------ DELETE ARTICLE / COMMENT ------------------------ */	
#formConfirmation{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#formConfirmation input{
	font-size: 1.3em;
	margin-top: 50px;
}

/*====================================================================================================================================
															medium desktops laptops
====================================================================================================================================*/

@media all and (min-width:992px) and (max-width:1200px){
	
}

/*====================================================================================================================================
															medium device
====================================================================================================================================*/

@media all and (min-width:768px) and (max-width:992px){

}

/*====================================================================================================================================
															small device
====================================================================================================================================*/

@media all and (min-width:600px) and (max-width:768px){

}

/*====================================================================================================================================
															smartphone
====================================================================================================================================*/

@media all and (max-width:600px){
	
}